Repository team-apm/apm-data, pull requests merged in 2023-01, with the labels that each got.

#459 fix: change to use http for packages by AviUtlLab
  v3/list.json
  v3/packages.json
Labels: bug, plugin

#461 fix: specify shift_jis when linux
  .github/workflows/check-update.yml
  util/lib/unzip.js
Labels: bug, github_actions

#462 feat: add tim's package set
  v3/list.json
  v3/package-sets.json
  v3/packages.json
  v3/packages/tim.json
Labels: enhancement, script

#463 fix2: remove dot_drawer.lua and shu_game.lua
  v3/list.json
  v3/packages.json
  v3/scripts.json
Labels: enhancement, plugin, script

#464 feat: directURL with build number
  .github/workflows/check-update.yml
  v3/list.json
  v3/packages.json
Labels: bug, plugin, github_actions

#468 doc: update the list of contributors
  README.md
Labels: documentation

#473 fix: fix check-update.yml
  .github/workflows/check-update.yml
Labels: bug, github_actions

#470 feat: add seed264's script
  developer-id.md
  v3/packages.json
Labels: enhancement, script
